<h2>Projects</h2>
<dx-data-grid
  id = "gridContainer"
  [dataSource] = "project_list"
  [showBorders] = "true"
  [showRowLines] = "true"
  [allowColumnReordering] = "true"
  (onRowClick) = "onRowClick($event)">
  <dxi-column dataField="id" datatype="number" ></dxi-column>
  <dxi-column dataField="name" ></dxi-column>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
</dx-data-grid>

<!--<ul class="projects">-->
  <!--<li *ngFor="let project of projectsService.projectsList">-->
    <!--<a routerLink="/keywords/{{project.id}}">-->
      <!--<span class="badge">{{project .id}}</span> {{project .name | uppercase }}-->
    <!--</a>-->
  <!--</li>-->
<!--</ul>-->